* {
  margin: 0;
  padding: 0;
  font-family: "Mochiy Pop P One", sans-serif;
}
html {
  touch-action: manipulation;
}
body {
  background-color: rgb(243, 243, 243);
}
.container {
  max-width: 350px;
  padding: 0px 10px;
  margin: 0 auto;
}
#game-container {
  margin: 30px 0px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #222;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-image {
  position: absolute;
  cursor: pointer;
  width: 50px;
}
.score {
  flex: 1;
  font-size: 30px;
}
.remove-btn {
  padding-top: 30px;
  text-align: center;
}
a {
  cursor: pointer;
}
.remove-btn a {
  background-color: #1da1f2;
  color: white;
  width: 100%;
  font-size: 30px;
  padding: 15px 0px;
  display: inline-block;
  border-radius: 7px;
  border: 2px solid rgb(68, 68, 68);
  box-shadow: 4px 4px rgb(68, 68, 68);
}
.remove-btn a:active {
  box-shadow: none;
  position: relative;
  top: 10px;
}
footer {
  width: 100%;
  line-height: 70px;
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  bottom: 0;
  color: white;
  background-color: rgb(37, 36, 83);
}
.top-nav {
  display: flex;
  padding: 30px 0px 0px 0px;
}
.start-page {
  color: rgb(47, 47, 47);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgb(243, 243, 243);
  text-align: center;
}
.start-page-container {
  margin: 0 auto;
  position: relative;
  max-width: 450px;
  padding: 0 20px;
  top: 20%;
}
.title {
  font-size: 55px;
  letter-spacing: 3px;
  font-weight: 200;
  line-height: 60px;
  padding-bottom: 30px;
}
@keyframes tilt {
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
.start-page a {
  background-color: #1da1f2;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 30px 0px;
  width: 100%;
  display: block;
  padding: 15px 0px;
  border-radius: 7px;
  border: 2px solid rgb(68, 68, 68);
  box-shadow: 4px 4px rgb(68, 68, 68);
  animation: tilt 1.5s infinite;
}
.start-page a:active {
  box-shadow: none;
  position: relative;
  top: 10px;
}

.range{
  height: 45px;
  background: linear-gradient(135deg, transparent 7px, #808C88 0) top left;
}
.slider{
  height: 45px;
  width: 0px;
  background: linear-gradient(135deg, transparent 7px, rgba(254, 44, 85, 1) 0) top left;
}

.end-page {
  position: absolute;
  font-size: 40px;
  background-color: rgb(243, 243, 243);
  display: none;
  width: 100%;
  height: 100vh;
}
.end-page-container {
  position:relative;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-flow: column;
  padding: 0px 10px;
  color: rgba(254, 44, 85, 1);
  overflow: hidden;
}
.final-score {
  font-size: 70px;
}
.play-again {
  cursor: pointer;
  background-color: #1da1f2;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 30px 0px;
  width: 100%;
  display: block;
  padding: 15px 0px;
  border-radius: 7px;
  border: 2px solid rgb(68, 68, 68);
  box-shadow: 4px 4px rgb(68, 68, 68);
  animation: tilt 1.5s infinite;
}
.play-again:active {
  box-shadow: none;
  position: relative;
  top: 10px;
}
.emoji {
  width: 30px;
  height: 30px;
}
@keyframes fall {
  to {
      transform: translateY(100vh);
  }
}
